.burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;

  position: relative;
  width: var(--burger-width);
  height: var(--burger-height);
  padding: 0;
  color: var(--black);
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    content: '';
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-50%);
  }

  &.active {
    &::before {
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      transform: rotate(45deg);
    }

    &::after {
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      transform: rotate(-45deg);
    }

    span {
      transition: transform 0.3s ease-in-out;
      transform: scale(0);
    }
  }
}
