.charity {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
    max-width: 565px;
  }

  &__text {
    padding-bottom: 16px;
    margin-bottom: -24px;

    p {
      margin-bottom: 24px;
      line-height: 1.5;
    }
  }

  &__hidden {
    transition-duration: 0.35s;
    transition-property: visibility, opacity, height, transform;

    &.is-hidden {
      height: 0;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  &__read-more {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.714;
    color: var(--secondary-5);
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed var(--secondary-5);
    transition-duration: 0.3s;
    transition-property: color, border-color;

    &:hover {
      color: var(--secondary-9);
      border-color: var(--secondary-9);
    }
  }

  @include max-width(992px) {
    &__wrapper {
      display: block;
    }

    &__info {
      max-width: 100%;
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: -16px;

      p {
        margin-bottom: 16px;
      }
    }
  }
}
