.history {
  position: relative;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__button-wrap {
    display: flex;
    flex-shrink: 1;
    align-items: flex-start;
    padding-left: 20px;
  }

  &__button {
    padding: 0;
    margin: 0;
    color: var(--secondary-7);
    border: 1px solid #e4002b;
    border-radius: 4px;

    svg {
      margin: auto;
    }

    &--prev {
      margin-right: 20px;
    }
  }

  @include max-width($touch) {
    &__button {
      --size: 30px;

      &--prev {
        margin-right: 15px;
      }
    }
  }

  @include max-width(768px) {
    &__button--prev {
      margin-right: 10px;
    }
  }
}
