<!-- charity -->
<section class="charity">
  <div class="container">
    <div class="charity__wrapper">
      <div class="charity__info">
        <h2 class="h2">Социальная ответственность</h2>
        <div class="charity__text">
          <p>Наши сотрудники принимают участие в благотворительных проектах, цель которых - помощь нуждающимся людям.
          </p>
          <p>В нашей компании действует программа “Мотивация на уровне сердца”, в рамках данной программы реализуются
            следующие проекты на постоянной основе:</p>
          <p>Поддержка детских домов в городах Калязин, Орехово-Зуево, Ступино, Твери и коррекционный центр в г.
            Белгород. Сотрудники ресторанов приезжают в гости к воспитанникам, проводят различные мастер-классы,
            выезжают на природу, участвуют в праздничных мероприятиях, а также приглашают ребят в свои рестораны.</p>

          <div class="js-charity__hidden charity__hidden is-hidden">
            <p>Поддержка приюта для животных “Бирюлево”, г, Москва.</p>
            <p>С каждым годом количество волонтеров растет, с каждым новым проектом появляются все новые и новые
              участники! И приятно осознавать, что в компании такое количество неравнодушных людей, тех, кто своим
              примером доказывает, что “мир не без добрых людей”.</p>
          </div>
        </div>
        <button type="button" class="js-charity__read-more charity__read-more">Читать далее</button>
      </div>
      <div class="charity__photo">
        <img src="../../img/basket-dobra-m.png" alt="">
      </div>
    </div>
  </div> <!-- ./ End of container -->
</section> <!-- ./ End of charity -->