<!-- employee  -->
<section class="employee">
  <div class="container">
    <div class="employee__wrapper">
      <div class="employee__photo">
        <img src="../../img/employee.jpg" alt="">
      </div>
      <div class="employee__info">
        <h2 class="h2">Готовы стать <br>
          нашим сотрудником?</h2>
        <p class="employee__text">KFC — один из первых игроков индустрии быстрого питания, сумевшим выйти на
          международный уровень. Сегодня это вторая по торговому обороту сеть кафе в мире.
        </p>
        <div class="employee__statistics">
          <div class="employee__list">
            <div class="employee__item">
              <div class="fact">
                <div class="fact__value">21 000</div>
                <p class="fact__descr">ресторанов KFC</p>
              </div>
            </div>
            <div class="employee__item">
              <div class="fact">
                <div class="fact__value">130+</div>
                <p class="fact__descr">стран мира</p>
              </div>
            </div>
            <div class="employee__item">
              <div class="fact">
                <div class="fact__value">820 000</div>
                <p class="fact__descr">сотрудников</p>
              </div>
            </div>
          </div>
        </div>
        <button class="employee__button button">Хочу в команду!</button>
      </div>
    </div>
  </div> <!-- ./ End of container -->
</section> <!-- ./ End of employee