<!-- footer -->
<footer class="footer">
  <div class="container">
    <!-- wrap -->
    <div class="footer__wrap">
      <div class="footer__col">
        <a href="/" class="footer__logo">
          <img src="../../img/logo-1.png" alt="CITY RESTORANTS">
        </a>
      </div>
      <div class="footer__col">
        <div class="footer__title">КОНТАКТЫ</div>
        <p class="footer__descr">По любым вопросам обращайтесь
          в колл-центр или к сотрудникам
          ресторана </p>
      </div>

      <div class="footer__col">
        <div class="footer__contact">
          <span>Телефон:</span>
          <a href="tel:+74957255646">+7 (495) 725-56-46</a>
        </div>
        <div class="footer__contact">
          <span>Эл. почта:</span>
          <a href="tel:+74957255646">hr@ciryrst.ru</a>
        </div>
      </div>

      <div class="footer__col">
        <button class="footer__button button">Хочу работать здесь</button>
      </div>

    </div>
    <!-- ./ End of wrap -->
  </div>
</footer>
<!-- ./ End of footer -->