<!-- header -->
<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header__logo">
        <img src="../../img/logo.png" width="60" height="60" alt="CITY RESTORANTS">
      </a>
      <div class="js-header__menu header__menu">
        <div class="header__menu-wrap">
          <nav class="header__nav header-nav">
            <ul class="header-nav__list">
              <li class="header-nav__item">
                <a href="#map" class="header-nav__link">Мы на карте</a>
              </li>
              <li class="header-nav__item">
                <a href="#history" class="header-nav__link">История ресторана</a>
              </li>
              <li class="header-nav__item">
                <a href="#charity" class="header-nav__link">Социальная ответственность</a>
              </li>
            </ul>
          </nav>
          <div class="header__phone">
            <a href="tel:+74957255646" class="header__phone-number">+7 (495) 725-56-46</a>
            <p class="header__phone-text">По любым вопросам</p>
          </div>
        </div>
      </div>
      <button class="js-burger burger header__burger">
        <span></span>
      </button>
    </div>
  </div>
</header>
<!-- ./ End of header -->