<!-- history -->
<section id="history" class="history">
  <div class="container">
    <div class="history__wrapper">

      <div class="history__header">
        <h2 class="history__title h2">История ресторана</h2>
        <div class="history__button-wrap">

          <button class="history__button history__button--prev button button-icon button--secondary button-icon--prev"
            type="button">
            <svg>
              <use xlink:href="svg/sprite.svg#arrow-right"></use>
            </svg>
          </button>
          <button class="history__button history__button--next button button-icon button--secondary button-icon--next"
            type="button">
            <svg>
              <use xlink:href="svg/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="js-history-slider history__slider">

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card-event">
              <div class="card-event__banner">
                <img src="../../img/events/event-1.png" alt="">
              </div>
              <div class="card-event__info">
                <div class="card-event__title">2002</div>
                <div class="card-event__dividing"></div>
                <p class="card-event__descr">Открыт первый ресторан <br> Ростикс в России</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-event">
              <div class="card-event__banner">
                <img src="../../img/events/event-2.png" alt="">
              </div>
              <div class="card-event__info">
                <div class="card-event__title">2012</div>
                <div class="card-event__dividing"></div>
                <p class="card-event__descr">Ребрендинг Ростикс <br> в международный бренд KFC</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-event">
              <div class="card-event__banner">
                <img src="../../img/events/event-3.png" alt="">
              </div>
              <div class="card-event__info">
                <div class="card-event__title">2016</div>
                <div class="card-event__dividing"></div>
                <p class="card-event__descr">Открыт юбилейный 30-й <br>
                  ресторан на Новом Арбате <br> Открыто два ресторана <br>
                  KFC в Белгороде</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-event">
              <div class="card-event__banner">
                <img src="../../img/events/event-4.png" alt="">
              </div>
              <div class="card-event__info">
                <div class="card-event__title">2018</div>
                <div class="card-event__dividing"></div>
                <p class="card-event__descr">Открыты 1-е рестораны <br> в городах: Калининград, <br>
                  Орел, Ульяновск <br> Открыт 50-й ресторан KFC - <br> ТЦ Олимп г. Тверь</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-event">
              <div class="card-event__banner">
                <img src="../../img/events/event-5.png" alt="">
              </div>
              <div class="card-event__info">
                <div class="card-event__title">2019</div>
                <div class="card-event__dividing"></div>
                <p class="card-event__descr">Открыты 1-е рестораны <br> в городах: Сыктывкар, Ухта, <br> Губкин, Старый
                  Оскол</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-event">
              <div class="card-event__banner">
                <img src="../../img/events/event-6.png" alt="">
              </div>
              <div class="card-event__info">
                <div class="card-event__title">2020</div>
                <div class="card-event__dividing"></div>
                <p class="card-event__descr">Открыт ресторан в д. Мокшино <br> Тверской области</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-event">
              <div class="card-event__banner">
                <img src="../../img/events/event-7.png" alt="">
              </div>
              <div class="card-event__info">
                <div class="card-event__title">2021</div>
                <div class="card-event__dividing"></div>
                <p class="card-event__descr">Открыты уникальные <br> павильоны KFC в московском <br> метрополитене, на
                  станциях: <br>
                  Коньково, Планерная, <br> Сходненская</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-event">
              <div class="card-event__banner">
                <img src="../../img/events/event-8.png" alt="">
              </div>
              <div class="card-event__info">
                <div class="card-event__title">2022</div>
                <div class="card-event__dividing card-event__dividing--full-line"></div>
                <p class="card-event__descr">Открыт ресторан <br> KFC на Курском вокзале</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- ./ End of container -->
</section> <!-- ./ End of history -->